.ingredient-list-header {
  background-color: #850000;
  color: rgb(230, 230, 230);
  margin: 0px;
  width: 100%;
  padding: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom: 3px solid black;
}

.ingredients-mentioned li > i {
  overflow: hidden;
  font-style: italic;
  font-weight: bold;
  font-size: 1.25em;
  padding: 2px;
}

.ingredients-mentioned li {
  text-align: center;
  display: inline-block;
  width: 230px;
  border-radius: 20px;
  margin-bottom: -2px;
}