* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.app-title {
  color: white;
  background-color: black;
  margin-top: 5px;
  margin-right: 30px;
  padding-left: 10px;
  padding-top: 3px;
  padding-right: 10px;
  padding-bottom: 3px;
  border-radius: 20px;
  letter-spacing: 2px;
}

.movie-container form {
  background-color: darkred;
  border-radius: 20px;
  padding-left: 10px;
}

.movie-container form label {
  color: white;
}

.movie-container form input {
  color: rgb(58, 0, 0);
  background-color: white;
  border: 2px solid darkred;
  border-radius: 15px;
  padding-top: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 3px;
  padding-left: 7px;
  outline: none;
  letter-spacing: 1px;
}

.movie-container li {
  list-style: none;
}

.movie-container li > i {
  background-color: rgb(161, 120, 107);
}

.movie-container a {
  color: darkred;
  text-decoration: none;
  letter-spacing: 1px;
}

.movie-container a:visited {
  font-style: italic;
}

.movie-container li > a:active {
  color: rgb(160, 45, 0);
}

.pagination {
  display: flex;
  background-color: darkred;
  border-radius: 20px;
  /* color: white; */
  outline: none;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
.page-item {
  display: flex;
  justify-content: center;
  color: darkred;
  cursor: pointer;
  margin: 2px;
  padding: 2px 3px 3px 3px;
  width: 100%;
  border-color: darkred;
  border-radius: 2px;
  background-color: rgb(212, 80, 80);
}
.page-link {
  display: flex;
  justify-content: center;
  width: 100%;
}

.page-item:hover {
  background-color: rgb(255, 212, 212);
  transition: background-color 0.125s ease-out;
}
.page-item.active {
  background-color: rgb(231, 151, 151);
}

.loading-text h1 {
  font-style: italic;
  color: darkred;
  background-color: white;
  border-radius: 20px;
  width: 175px;
  padding: 5px;
}
