* {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

body {
  background-color: lightgrey;
}

.MovieDetailPage h2 {
  text-align: center;
  display: inline;
}

.MovieDetailPage button {
  float: right;
  color: white;
  background-color: #850000;
  font-size: 1em;
  font-weight: 600;
  padding: 1px;
  padding-top: 2px;
  outline: 0px;
  width: 100px;
  border: none;
  border-radius: 5px;
  border-bottom: 3px solid black;
  transition: all 0.2s;
}

.MovieDetailPage button > a {
  color: darkred;
  width: 100%;
  outline: none;
  text-decoration: none;
}

.MovieDetailPage button:hover {
  background-color: #afafaf;
}

.MovieDetailPage button:active {
  border-bottom: 1px solid black;
  margin-top: 2px;
  box-shadow: 0 1px 0 black inset;
}

.MovieDetailPage h2 {
  margin: 10px;
  color: rgb(60, 0, 0);
  outline: none;
}

.MovieDetailPage h3 {
  background-color: #850000;
  color: rgb(230, 230, 230);
  margin: 0px;
  width: 100%;
  padding: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom: 3px solid black;
}

.MovieDetailPage ul {
  margin-top: 5px;
  margin-left: -20px;
  padding-left: 20px;
}

.MovieDetailPage li {
  background-color: rgb(161, 120, 107);
  border-radius: 20px;
  padding: 5px;
  margin: 2px;
  overflow-x: hidden;
}

.MovieDetailPage li > i {
  color: white;
  font-size: 0.7em;
}

.MovieDetailPage li > h4 {
  background-color: rgb(233, 233, 233);
  text-transform: uppercase;
  border-radius: 20px;
  padding-left: 5px;
  margin: 3px;
  font-weight: bold;
}

.recipes-mentioned li {
  display: block;
  border-radius: 20px;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.recipes-mentioned li > div {
  color: white;
  text-align: right;
  padding: 2px;
}

.ingredients-mentioned li {
  text-align: center;
  display: inline-block;
  width: 230px;
  border-radius: 20px;
  margin-bottom: -2px;
}

.MovieDetailPage li > span {
  border-radius: 20px;
  color: white;
  background-color: rgb(88, 88, 88);
  margin: 2px;
  padding: 5px;
  padding-bottom: 5px;
  font-size: 0.75em;
}

.ingredients-mentioned li > i {
  overflow: hidden;
  font-style: italic;
  font-size: 0.7em;
  padding: 2px;
}
