.recipe-list-header {
  background-color: #850000;
  color: rgb(230, 230, 230);
  margin: 0px;
  width: 100%;
  padding: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom: 3px solid black;
}

.recipes-mentioned li {
  display: block;
  border-radius: 20px;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.recipes-mentioned li > div {
  color: white;
  text-align: right;
  padding: 2px;
}